*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    
}
title{
    color: white;
    margin-top: 15;

}
body{
    background-color: black;background: rgba(192,22,7,1);
    background: -moz-linear-gradient(left, rgba(192,22,7,1) 0%, rgba(206,31,18,1) 30%, rgba(173,20,12,1) 66%, rgba(168,19,11,1) 71%, rgba(172,15,6,1) 81%, rgba(165,21,18,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(192,22,7,1)), color-stop(30%, rgba(206,31,18,1)), color-stop(66%, rgba(173,20,12,1)), color-stop(71%, rgba(168,19,11,1)), color-stop(81%, rgba(172,15,6,1)), color-stop(100%, rgba(165,21,18,1)));
    background: -webkit-linear-gradient(left, rgba(192,22,7,1) 0%, rgba(206,31,18,1) 30%, rgba(173,20,12,1) 66%, rgba(168,19,11,1) 71%, rgba(172,15,6,1) 81%, rgba(165,21,18,1) 100%);
    background: -o-linear-gradient(left, rgba(192,22,7,1) 0%, rgba(206,31,18,1) 30%, rgba(173,20,12,1) 66%, rgba(168,19,11,1) 71%, rgba(172,15,6,1) 81%, rgba(165,21,18,1) 100%);
    background: -ms-linear-gradient(left, rgba(192,22,7,1) 0%, rgba(206,31,18,1) 30%, rgba(173,20,12,1) 66%, rgba(168,19,11,1) 71%, rgba(172,15,6,1) 81%, rgba(165,21,18,1) 100%);
    background: linear-gradient(to right, rgba(192,22,7,1) 0%, rgba(206,31,18,1) 30%, rgba(173,20,12,1) 66%, rgba(168,19,11,1) 71%, rgba(172,15,6,1) 81%, rgba(165,21,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01607', endColorstr='#a51512', GradientType=1 );background-size: 100vw 100vh;
        background-attachment: fixed;
        font-family: monospace;

}
.titulo{
    width: 30%;
    height: 15%;
    padding-top: 10;
    padding-left: 10;
    bottom: 0;
    float: left;
}
.curso {
    width: 100%;
    height: 10%;
    margin-top: 15%;
    color:white;
    text-align: center;
    font-size: 200%;

}
h1{
    width: 100%;
    color:white;
    position: relative;
    text-align: center;
    bottom: 0;
    padding-top: 10;
    font-size: 40px;
    margin-bottom: 10;
}
h2{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
}
.contenido{
    margin-top: 5%;
    width: 100%;
    color: white;
    margin-left: 10%;
    font-size: 150%;
    
}
nav{
    margin-top: 5%;
    text-align: center;
    height:8%;
    line-height: 5%;
    width: 100%;
      background: rgba(25,120,210,1);
background: -moz-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,120,210,1)), color-stop(100%, rgba(21,94,178,1)));
background: -webkit-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 100%);
background: -o-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 100%);
background: -ms-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 100%);
background: linear-gradient(to right, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1978d2', endColorstr='#155eb2', GradientType=1 );     

    
}
nav a{
    color: white;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border: 5px;
    font-size: 25px;
    bak
    
}
nav button{
    background: none;
}

header nav{
    text-align: center;
    bottom: 0;
    height:8%;
    line-height: 5%;
    width: 100%;
    margin-top: 0;
    background: rgba(25,120,210,1);
background: -moz-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,120,210,1)), color-stop(100%, rgba(21,94,178,1)));
background: -webkit-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 100%);
background: -o-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 100%);
background: -ms-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 100%);
background: linear-gradient(to right, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1978d2', endColorstr='#155eb2', GradientType=1 );     
}
header nav a{
    color: white;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
     font-size: 35px;
}